@import './reset.scss';

html,
body {
  overscroll-behavior-y: none;
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

#search-bar ::-webkit-scrollbar {
  height: 3px;
  width: 1px;
}
#search-bar ::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
#search-bar ::-webkit-scrollbar-thumb:hover {
  background-color: rgba($color: #00e4b3, $alpha: 0.7);
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
